extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content
	//.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

		<picture>
			<source srcset="./img/awesomeWebPImage.webp" type="image/webp">
			<source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
			<img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
		</picture>

	div.main-wrap
		.home-scroll(id='fullpage')
			section.section.home-scroll__item.home-scroll__item--school
				.home-screen
					.home-screen__left
						.home-screen__inscription Hello!
						.home-screen__title How to succeed in school without straining
						.home-screen__caption Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut labore et
						.home-screen__btns
							a.site-btn.btn-violet Order now
							a.site-btn.btn-white Start the story
					.home-screen__right
						img(src="img/home/img1.svg" alt="img")

			section.section.home-scroll__item.home-scroll__item--choose
				.home-screen
					.home-screen__left
						.home-screen__inscription 1 Step
						.home-screen__title Choose the type of paper you need
						.home-screen__caption  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						.home-screen__showing
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/icon1.svg
									.home-screen__showing-title Paper
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
								.home-screen__showing-btns
									a.site-small-btn(href="#") Order Now
									a.site-show-btn(href="#")
										span Sample
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/desc.svg
									.home-screen__showing-title Presentation
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
								.home-screen__showing-btns
									a.site-small-btn(href="#") Order Now
									a.site-show-btn(href="#") Sample
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/pero.svg
									.home-screen__showing-title Something else
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
								.home-screen__showing-btns
									a.site-small-btn(href="#") Order Now
									a.site-show-btn(href="#") Sample
					.home-screen__right
						img(src="img/home/img2.0.svg" alt="img")

			section.section.home-scroll__item.home-scroll__item--bring
				.home-screen
					.home-screen__left
						.home-screen__inscription 2 Step
						.home-screen__title From the top 2%, <br> we bring you the best.
						.home-screen__caption From a team comprising the top 2% of the academic talent out there, you get the expert that best fits your project.
						.home-screen__tabs
							.home-screen__tabs-items
								a(href='javascript:void(0)').home-screen__tabs-i.home-screen__tabs-i--active
									span 1
									span 100%
								a(href='javascript:void(0)').home-screen__tabs-i
									span 2
									span 60%
								a(href='javascript:void(0)').home-screen__tabs-i
									span 3
									span 20%
								a(href='javascript:void(0)').home-screen__tabs-i
									span 4
									span TOP 2%
								a(href='javascript:void(0)').home-screen__tabs-i
									span 5
									span.star
										include ../img/home/star.svg
							.home-screen__tabs-content
								.home-screen__tabs-c-i.home-screen__tabs-c-i--active
									.home-screen__tabs-title Start of selection
									.home-screen__tabs-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

								.home-screen__tabs-c-i
									.home-screen__tabs-title Start of selection
									.home-screen__tabs-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

								.home-screen__tabs-c-i
									.home-screen__tabs-title Start of selection
									.home-screen__tabs-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

								.home-screen__tabs-c-i
									.home-screen__tabs-title Start of selection
									.home-screen__tabs-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

								.home-screen__tabs-c-i
									.home-screen__tabs-title Start of selection
									.home-screen__tabs-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					.home-screen__right
						.home-screen__right-tabs
							img.home-screen__right-tabs-img(src="img/home/img-3-1.png"
								data-img-1="img/home/img-3-1.png"
								data-img-2="img/home/img-3-2.png"
								data-img-3="img/home/img-3-3.png"
								data-img-4="img/home/img-3-4.png"
								data-img-5="img/home/img2.png"
								alt="img"
							)

			section.section.home-scroll__item.home-scroll__item--select
				.home-screen
					.home-screen__left
						.home-screen__inscription 3 Step
						.home-screen__title We select the right writer for you
						.home-screen__list
							.home-screen__list-i
								.home-screen__list-icon
									include ../img/home/clock.svg
								.home-screen__list-title
									| Dedline min 3 hrs
									br
									| Dedline min 3 hrs
								.home-screen__list-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.home-screen__list-i
								.home-screen__list-icon
									include ../img/home/flycube.svg
								.home-screen__list-title
									| Your wishes
									br
									| Dedline min 3 hrs
								.home-screen__list-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.home-screen__list-i
								.home-screen__list-icon
									include ../img/home/trianglecircles.svg
								.home-screen__list-title
									| Back’n forth
									br
									| Dedline min 3 hrs
								.home-screen__list-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					.home-screen__right
						img(src="img/home/img3.svg" alt="img")

			section.section.home-scroll__item.home-scroll__item--select2
				.home-screen
					.home-screen__left
						.home-screen__inscription 4 Step
						.home-screen__title We select the right writer for you
						.home-screen__caption  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						.home-screen__showing
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/circle-checkbox.svg
									.home-screen__showing-title 2x Plagiarism Protection
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/circle-checkbox.svg
									.home-screen__showing-title Free unlimited revisions
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							.home-screen__showing-i
								.home-screen__showing-top
									.home-screen__showing-icon
										include ../img/home/circle-checkbox.svg
									.home-screen__showing-title Review by trained editor
								.home-screen__showing-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
					.home-screen__right
						img(src="img/home/img4.svg" alt="img")


			section.section.home-scroll__item.home-scroll__item--delivery
				.home-screen
					.home-screen__left
						.home-screen__inscription 5 Step
						.home-screen__title Delivery
						.home-screen__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						.home-screen__slider.owl-carousel
								.home-screen__slide
									.home-screen__slide-top
										.home-screen__slide-left
											.home-screen__slide-name Stas Bosfor
											.home-screen__slide-town Boston, USA
										.home-screen__slide-stars
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
									.home-screen__slide-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								.home-screen__slide
									.home-screen__slide-top
										.home-screen__slide-left
											.home-screen__slide-name Stas Bosfor
											.home-screen__slide-town Boston, USA
										.home-screen__slide-stars
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
									.home-screen__slide-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								.home-screen__slide
									.home-screen__slide-top
										.home-screen__slide-left
											.home-screen__slide-name Stas Bosfor
											.home-screen__slide-town Boston, USA
										.home-screen__slide-stars
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
											include ../img/home/star.svg
									.home-screen__slide-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						//ul.home-screen__slider-nav
						//	li.home-screen__slider-nav-f
						//	li.home-screen__slider-nav-i 1
						//	li.home-screen__slider-nav-l
					.home-screen__right
						img(src="img/home/img5.svg" alt="img")


			section.section.home-scroll__item.home-scroll__item--hire
				.home-screen
					.home-screen__left
						.home-screen__title Hire the best writer
						.home-screen__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						.home-screen__btns
							a.site-btn.btn-violet Order now
					.home-screen__right
						img(src="img/home/img6.svg" alt="img")

		.home-slider-dots
			a(href='#').home-slider-dot.home-slider-dot--active
				span Start
			a(href='#').home-slider-dot
				span 1 step
			a(href='#').home-slider-dot
				span 2 step
			a(href='#').home-slider-dot
				span 3 step
			a(href='#').home-slider-dot
				span 4 step
			a(href='#').home-slider-dot
				span 5 step
			a(href='#').home-slider-dot
				span 6 step

		.seo-txt.has-form
			.subscribe-form
				.subscribe-form__left
					.subscribe-form__title Subscribe to our newsletter
				.subscribe-form__right
					form
						input(type='text' placeholder='Your Email').subscribe-form__input
						a(href="#").subscribe-form__btn.site-btn subscribe

			.seo-txt__inner
				.seo-txt__title Lorem ipsum dolor sit amet,
				.seo-txt__txt
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					p
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					p
						| Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi





